html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}
header{
	background-color: #1affff;
	background-image: url('../Img/starwars.png');
	background-repeat: repeat;
	padding: 70px;
	text-align: center;
}

h1{
	text-align: center;
	font-size: 90px;
	margin: inherit;
	text-shadow: 0 4px 20px #91c2ff;
	color: #ffffcc;
}
h2{
	text-align: center;
	font-size: 35px;
	text-shadow: 0 4px 20px black;
	color: brown;

}
p.content{
display: table;
    background-color: #e6b8a3;
    outline: -webkit-focus-ring-color auto 10px;
    outline-color: lightskyblue;
    background: cyan;
    text-align: center;
    font-style: italic;
    font-size: large;
    font-family: auto;
    width: 0px;
    max-width: 900px;
	margin:0 auto;
	padding: 0 20px;
}
ol li{
    list-style: none;
    padding: 30px;
    margin: 20px auto;
    max-width: 600px;
    display: table-cell;
    text-decoration: underline;
    text-decoration-color: deepskyblue;
    text-decoration-style: wavy;
}

header img{
	   border-radius: 180px;
    width: 350px;
    height: 350px;
    border: 5px solid #990033;
    box-shadow: 0 10px 20px #91c2ff;
}

img.big-image{
	max-width: 100%;
	border-radius: 180px;
}
.Chewy{
	outline: -webkit-focus-ring-color auto 10px;
    outline-color: lightskyblue;
    background: cyan;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    margin: 4px;
    font-family: auto;
}

p.caption{
	font-size: 30px;
	color: white;
	font-style: italic;
	background-color: #bf2640;
	text-align:center;
	padding: 10px;
	margin-top:10px;
	text-decoration: none;
}

ul li{
	    list-style: none;
    padding: inherit;
    margin: 0;
    list-style-position: inside;
    list-style-type: gurmukhi;
    overflow: auto;

}

a{
	color: brown;
	text-decoration: initial;
	text-align: center;
}
footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #ccccff
}

footer ul{
	text-align: center;
	text-decoration: none;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
/*<header>
			<img src="img/profile.jpg">
			<h1>Chewbacca</h1>
		</header>