html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}
header{
	background-color: #1affff;
	background-image: url('../img/starwars.png');
	background-repeat: repeat;
	padding: 40px;
	text-align: center;
}

h1{
	text-align: center;
	font-size: 90px;
	margin: inherit;
	text-shadow: 0 4px 20px #91c2ff;
	color: #ffffcc;
}
h2{
	text-align: center;
	font-size: 35px;
	text-shadow: 0 4px 20px black;
	color: brown;

}
p.content{
	margin: 20px auto;
	display: inline;
	background-color: #e6b8a3;
	text-align: center;
}
ol, ul{
	list-style: none;
	padding: 0;
	margin: 20px auto: 40px;
	max-width: 600px;
	display: round;
	background-color: #e6b8a3;
}

header img{
	   border-radius: 180px;
    width: 350px;
    height: 350px;
    border: 5px solid #990033;
    box-shadow: 0 10px 20px #91c2ff;
}

.content{
	max-width: 900px;
	margin:0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
	border-radius: 180px;
}

p.caption{
	font-size: 30px;
	color: white;
	font-style: italic;
	background-color: #bf2640;
	text-align:center;
	padding: 10px;
	margin-top:10px;
	text-decoration: none;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: brown;
	text-decoration: none;
	text-align: center;
}
footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #ccccff
}

footer ul{
	text-align: center;
	text-decoration: none;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
/*<header>
			<img src="img/profile.jpg">
			<h1>Chewbacca</h1>
		</header>